.header {
    padding-top: 80px;
    padding-bottom: 20px;
    background: $bg-main;
    position: sticky;
    top: 0;
    z-index: 1000;
    
    @media screen and (max-width: 650px) {
            position: relative;
    }
}