.work {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: var(--color-text--btn);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.work__content {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.work__title {
    font-size: 32px;
    margin: 0 0 50px;
}
.work__description {
    margin: 0;
}